:root {
  --preto: #05070d;
  --preto-secundario: #0b1020;
  --cinza-card: #111827;
  --cinza-borda: #1e293b;
  --vermelho: #8B0000;
  --vermelho-hover: #a40000;
  --branco: #ececf0;
  --cinza-texto: #b5b9c4;
  --sombra: 0 10px 30px rgba(0,0,0,.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.menu-box {
    position: fixed;
    top: 80px; /* abaixo do header */
    left: 20px;
    background-color: #0f0f0f;
    border: 2px solid #8B0000;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;

    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    transition: 0.2s ease;
}

.menu-box ul {
    list-style: none;
}

.menu-box li {
    margin: 0.8rem 0;
}

.menu-box a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.menu-box a:hover {
    color: #A0001C;
}

.menu-box.ativo {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

body {
  background: var(--preto);
  color: var(--branco);
  line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 20px;
  background: rgba(11, 16, 32, 0.95);
  border-bottom: 1px solid var(--cinza-borda);

  position: sticky;
  top: 0;
  z-index: 999;

  transition: all 0.3s ease;
}

header.scrolled {
  background: rgba(11, 16, 32, 0.1);
  backdrop-filter: blur(8px);        
  padding: 12px;                    
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo {
  height: 40px;
}

.menu-hamburguer {
  position: absolute;
  left: 20px;
  background: none;
  border: none;
  color: var(--branco);
  font-size: 22px;
  cursor: pointer;
}

.sobre {
  text-align: center;
  padding: 120px 20px;
  background: radial-gradient(
    ellipse at center,
    rgba(139,0,0,.35),
    rgba(0,0,0,.95)
  );
}

#h1-pagina-principal {
  font-size: 3rem;
  margin-bottom: 20px;
}

#h1-pagina-principal span {
  color: var(--vermelho);
}

#p-pagina-principal {
  max-width: 800px;
  margin: auto;
  color: var(--cinza-texto);
  margin-bottom: 30px;
}

.sobre button {
  padding: 12px 30px;
  background: var(--vermelho);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: .3s;
}

.sobre button:hover {
  background: var(--vermelho-hover);
}

.destaques {
  padding: 80px 20px;
  text-align: center;
}

.container-destaques-terror {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.filmes-destaque {
  display: flex;
  gap: 20px;
}

.quadro {
  background: var(--cinza-card);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: var(--sombra);
  transition: .3s;
}

.quadro:hover {
  transform: translateY(-8px);
}

.quadro img {
  width: 100%;
  height: 250px;
  background: #222;
  border-radius: 6px;
  margin-bottom: 10px;
}

footer {
    background-color: #000510;
    color: #ececf0;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    border-top: 2px solid #cbced4;
}

.footer-esquerda {
    max-width: 450px;
}

.footer-esquerda p {
    font-size: 0.95rem;
    color: #cbced4;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.footer-esquerda ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.footer-esquerda ul li i {
    width: 24px;
    height: 24px;
}

.footer-centro {
    min-width: 200px;
}

.footer-centro h2 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

#ul-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ul-nav li {
    margin-bottom: 0.5rem;
}

#ul-nav a {
    color: #cbced4;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

#ul-nav a:hover {
    color: #ffffff;
}

.footer-direita {
    min-width: 200px;
}

.footer-direita h2 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

#ul-suporte {
    list-style: none;
}

#ul-suporte li {
    margin-bottom: 0.5rem;
}

#ul-suporte a {
    color: #cbced4;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

#ul-suporte a:hover {
    color: #ffffff;
}

.copyright {
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;
    color: #cbced4;
}

.linha {
    width: 65rem;
    height: 2px;
    background-color: #cbced4;
    margin: auto;
}