/* RESET & BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIAVEIS DE COR */

:root {
  /* Cores principais */
  --preto-principal: #030213;
  --preto-profundo: #000000;

  /* Tons de cinza */
  --cinza-escuro: #121212;
  --cinza-card: #1a1a1a;
  --cinza-borda: #2a2a2a;
  --cinza-texto: #888888;
  --cinza-suave: #717182;

  /* Branco */
  --branco: #ffffff;

  /* Destaque (terror) */
  --vermelho-sangue: #8B0000;
  --vermelho-sangue-claro: #A0001C;

  /* Sombras */
  --sombra-card: 0 4px 6px rgba(0, 0, 0, 0.5);
  --sombra-hover: 0 6px 14px rgba(0, 0, 0, 0.7);
}









