/* VARIAVEIS DE COR */

:root {
  /* Cores principais */
  --preto-principal: #030213;
  --preto-profundo: #000000;

  /* Tons de cinza */
  --cinza-escuro: #121212;
  --cinza-card: #1a1a1a;
  --cinza-borda: #2a2a2a;
  --cinza-texto: #888888;
  --cinza-suave: #717182;

  /* Branco */
  --branco: #ffffff;

  /* Destaque (terror) */
  --vermelho-sangue: #8B0000;
  --vermelho-sangue-claro: #A0001C;

  /* Sombras */
  --sombra-card: 0 4px 6px rgba(0, 0, 0, 0.5);
  --sombra-hover: 0 6px 14px rgba(0, 0, 0, 0.7);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--preto-principal);
  color: var(--branco);
}

/* HEADER */

header {
  height: 70px;
  width: 100%;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6)
  );

  border-bottom: 1px solid var(--cinza-borda);
}

.menu-hamburguer {
  font-size: 22px;
  color: var(--branco);
  background: none;
  border: none;
  cursor: pointer;
}

header h1 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo {
  height: 28px;
}
